name: Using workflows

on: push
jobs:
  matrix_jobs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}

      - run: |
          npm --version
          npm test
