name: Artifacts Workflow
on: push

jobs:
  Installing-python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13' 
    - run: python my_script.py